name: Hellow world

on:
  push: 
    branches: ["main"]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
    - name: Greeting
      run:
        echo "Hello please enter username ${{vars.USERNAME}}"
        echo "Hello please enter password ${{secrets.PASSWORD}}"
      
