name: vars & Secrets

on:
  push: 
    branches: ["main"]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
    - name: Secrets
      run: |
        echo "Hello please enter username ${{vars.USERNAME}}"
        echo "Hello please enter password ${{secrets.PASSWORD}}"
      
